<!DOCTYPE html>
<html>
<body>
<h4>Bonjour {{ username }},</h4>


{% if ban == false %}
    <p>Un administrateur à bloqué votre compte. Vous ne pouvez plus vous connecter</p>
{% else %}
    <p>Un administrateur à débloqué votre compte. Vous pouvez vous connecter</p>
{% endif %}


<p>Cordialement,
    L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>