<!DOCTYPE html>
<html>
<body>
<h4>Bienvenue sur TodoList !</h4>


<p>Votre compte à bien été créé, vous pouvez dès à présent vous connecter.</p>

<br/>
<p>Nom d’utilisateur choisis: {{ username }}</p>


<p>Cordialement,

L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>
