<!DOCTYPE html>
<html>
<body>
<h4>Bienvenue sur TodoList !</h4>


<p>Votre compte admin à bien été créé, vous pouvez dès à présent vous connecter.</p>

<br/>
<p>Nom d’utilisateur admin: {{ username }}</p>
<p>Mot de passe : {{ password }}</p>


<p>Cordialement,

L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>
