<!DOCTYPE html>
<html>
<body>
<h4>Bonjour {{ username }},</h4>


<p>Votre compte vient d'être supprimé par un administrateur.</p>


<p>Cordialement,
    L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>