<!DOCTYPE html>
<html>
<body>
<h4>Bonjour {{ username }},</h4>


<p>Votre compte vient d'être édité par un administrateur. Voici les nouvelles informations enregistrées: </p>
<p>Username : {{ username }} (identifiant de connexion) </p>
<p>Email : {{ email }}</p>

{% if admin == true %}
    <p>De plus, vous êtes devenu un administrateur de l'application</p>
{% endif %}

<p>Cordialement,
    L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>