<!DOCTYPE html>
<html>
<body>
<h4>Bonjour {{ username }},</h4>


<p>Voici le nouveau mot de passe que vous avez demandé:</p>
<br/>
<p>{{ password }}</p>


<p>Cordialement,
    L’équipe support TodoList.</p>

<i>Ceci est un mail automatique, merci de ne pas y répondre.</i>
</body>
</html>
